@font-face {
    font-family: 'Rubik';
   src: url('../fonts/Rubik/Rubik-Regular.eot');
    src: url('../fonts/Rubik/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Rubik/Rubik-Regular.svg#Rubik-Regular') format('svg'),
         url('../fonts/Rubik/Rubik-Regular.ttf') format('truetype'),
         url('../fonts/Rubik/Rubik-Regular.woff') format('woff'),
         url('../fonts/Rubik/Rubik-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  